.item1 {
    width: 500px;
    height: 75px;
    background-color: burlywood;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    margin: 0px auto;
    border-bottom:solid 5px rgb(158, 100, 12);
    
}


.item2 {
    width: 500px;
    height: 75px;
    background-color: brown;
    border-radius: 75px;
    margin: 0px auto;
    border-bottom:solid 10px rgb(129, 33, 33);
}



.item3 {
    width: 500px;
    height: 75px;
    background-color: burlywood;
    border-top-left-radius:  20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;
    margin: 0px auto;
    border-top:solid 5px rgb(158, 100, 12);
}